html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.headerNav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15%;
  list-style: none;
}
.headerNav li{
  width: 30%;
}
.breedsList{
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sectionSubBreed{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 10%;
  text-align: center;
  width: 94%;
}
.mainDivSub{
  width: 100%;
}
.mainDivSub:nth-child(odd){
  background: rgb(131, 131, 167);
}
.mainDivSub:nth-child(even){
  background: rgb(36, 185, 111);
}
.divforImagesSubBreed{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1% 2%;
}
/* .divforImagesSubBreed:nth-child(even){
  background: cadetblue;
} */
/* .divforImagesSubBreed:nth-child(odd){
  background: red;
} */
.divforImagesSubBreed img{
  width: 200px;
  height: 200px;
  padding: 0.5% 0.3%;
}
.nameOfSubBreed{
  display: block;
  width: 100%;
  text-align: center;
}

/*----------------------*/
.headerNav{
background: purple;
height: 13vh;
line-height: 12vh;
margin-bottom: 2%;
/* position: static; */
}
.headerNav a{
  background: rgb(247, 99, 247);
  font-size: 24px;
}
/*----------------*/

.mainSubject{
  text-align: center;
}
.paraInmain{
  text-align: center;
}
.divInmain{
  background: rgb(128, 126, 126,0.5);
  margin: 1% 0;
  /* height: 30vh; */
  
}
.divInmain:has(strong){
  background: red;
}

.subBreedsTexts{
  /* display: none; */
}
/* .divFromBreedsFun:has() */
.divFromBreedsFun{
  background: rgba(216, 118, 151, 0.3);;
}
.divFromBreedsFun ul{
  /* display: none; */
  list-style: none;
  position: relative;
  top: -4.5vh;
  color: aliceblue;
  
}
.divFromBreedsFun p{
position: relative;
top: -6vh;
background: rgba(216, 118, 151, 0.514);
width: fit-content;
}
.divFromBreedsFun p:hover ~ul{
color: blue !important;
display: block;
}


.randh2{
  text-align: center;
}
.randImage{
  display: block;
  /* text-align: center; */
  margin-left: 33%;
  width: 500px;
  height: 500px;
}
.randPara{
  text-align: center;
}
.fetchButton{
  display: block;
margin: 0 0 1% 47%;
background:plum;
width: 5%;
height: 5vh;
font-size: 18px;
border: 1px solid;
border-radius: 5%;
}
.fetchButton:hover{
  color: blueviolet;

}